In [4]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
#get the data
df = pd.read_csv("multiple-lr-data.csv")

In [6]:
df.tail()

      age  credit-rating  children        loan
1333   50          30.97         3  10600.5483
1334   18          31.92         0   2205.9808
1335   18          36.85         0   1629.8335
1336   21          25.80         0   2007.9450
1337   61          29.07         0  29141.3603

In [7]:
df.describe()

               age  credit-rating     children          loan
count  1338.000000    1338.000000  1338.000000   1338.000000
mean     39.207025      30.669645     1.094918  13270.422265
std      14.049960       6.105650     1.205493  12110.011237
min      18.000000      15.960000     0.000000   1121.873900
25%      27.000000      26.296250     0.000000   4740.287150
50%      39.000000      30.400000     1.000000   9382.033000
75%      51.000000      34.700000     2.000000  16639.912515
max      64.000000      53.130000     5.000000  63770.428010

In [8]:
y = np.array(df['loan'])
x = np.array(df.drop('loan',axis = 1))

In [8]:
y.shape

(1338,)

In [9]:
x.shape

(1338, 3)

In [11]:
multi_lr_model = LinearRegression()

In [12]:
multi_lr_model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
preds = multi_lr_model.predict(x)

In [15]:
preds.shape

(1338,)

In [21]:
mean_squared_error(preds,y)

128979704.46042567

In [23]:
#using numpy
((preds-y)**2).mean()

128979704.46042567

In [2]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.33, random_state=42)

In [10]:
x.shape

(1338, 3)

In [11]:
X_train.shape

(896, 3)

In [12]:
X_test.shape

(442, 3)

In [14]:
y_train.shape

(896,)

In [15]:
y_test.shape

(442,)